#head {
    color: rgba(43, 200, 137, 0.812);
     text-align: center;
}

#info {
    color: rgb(5, 121, 134);
    text-align: center;
    margin-left: 40px;
}
#info-email {
    color:rgb(19, 116, 108);
    text-align: center;
}
#info {

}

